{% extends "base.html" %}
{% block content %}
    <div class="user-form">
        <form method="post">
            {% csrf_token %}
            <br/>
            <h1>Contact Information</h1>
            {{ ContactForm }}
            <br/>
            <h1>Payment Information</h1>
            {{ PaymentForm }}
            <br/>
            <h1>Seller Rating</h1>
            {{ RatingForm }}
            <br/>
            <input name="Back" class="btn-primary" type="submit" value="Back"/>
            <input class="btn-primary" type="submit" value="Confirm"/>
        </form>
    </div>
{% endblock %}