{%  extends 'base.html' %}
{%  block content %}
    <div class="about-container text-center justify-content-center">
        <div class="row">
            <div class="col-sm-4">
                <img src="/static/images/dandan.png"
                     alt="" class="about-img">
            </div>
            <div class="col-sm-4">
                <img src="/static/images/lauf.png"
                     alt="" class="about-img">
            </div>
            <div class="col-sm-4">
                <img src="/static/images/markie.png"
                     alt="" class="about-img">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><h6>Daníel</h6></div>
            <div class="col-sm-4"><h6>Laufey</h6></div>
            <div class="col-sm-4"><h6>Markús</h6></div>
        </div>
        <div class="about-text">
            <hr/>
            <h4>About us</h4>
            <p>We are the proud owners of Fire Sale Inc.</p>
            <p>Please use our platform to buy things</p>
            <p>Much love and many thanks</p>
            <p>:)</p>
        </div>
    </div>
{% endblock %}