{%  extends 'base.html' %}
{%  block content %}
    <div class="about-container text-center justify-content-center">
        <div class="row">
            <div class="col-sm-4">
                <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.6435-9/52509221_2191097484470372_5534649403433811968_n.jpg?_nc_cat=101&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=Ul1hQychPDgAX9mWPWZ&_nc_ht=scontent-arn2-1.xx&oh=00_AT9Qj9vcOE7m20mpkz7LuxuTBSiF1mw9RCISCPySTxbang&oe=62A3FFED"
                     alt="" class="about-img">
                <h6>Daníel</h6>
            </div>
            <div class="col-sm-4">
                <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.18169-9/13012602_1338013889559082_8472158568404768405_n.jpg?_nc_cat=103&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=V8YGVvDsNeMAX_RJqM5&_nc_ht=scontent-arn2-1.xx&oh=00_AT_zF8VlICFK0r5x2Bd_wLYScbUX3DcTrxczgFs5Vf5Wkw&oe=62A57F53"
                     alt="" class="about-img">
                <h6>Laufey</h6>
            </div>
            <div class="col-sm-4">
                <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.18169-9/10898118_952631758080376_4897118214986292689_n.jpg?_nc_cat=107&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=HE5EW1Ci3XoAX-Ory9z&tn=6eUvsl0kyn9oZqmp&_nc_ht=scontent-arn2-1.xx&oh=00_AT8aLEWknkjiJXp-uwOZHIMMA5BcXDbWHM57a3DO63T4NA&oe=62A40E71"
                     alt="" class="about-img">
                <h6>Markús</h6>
            </div>
        </div>
        <div class="about-text">
            <hr/>
            <h4>About us</h4>
            <p>We are the proud owners of Fire Sale Inc.</p>
            <p>Please use our platform to buy things</p>
            <p>Much love and many thanks</p>
            <p>:)</p>
        </div>
    </div>
{% endblock %}