{% block content %}
    <div class="cat-options-box" id="catalogue-items">
        <div class="cat-grid">
            {% if not data %}
                No items found :/
            {% else %}
                {% if accepted %}
                    {% for post in data %}
                        {% include 'catalogue/bids/single_accepted_bid.html' with post=post%}
                    {% endfor %}
                {% else %}
                    {% for post in data %}
                        {% if not post.has_accepted_bid %}
                            {% include 'catalogue/bids/single_bid.html' with post=post%}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}