{% block content %}
    <div class="cat-options-box">
        Sort By:

        <div class="form-check">
            <input class="form-check-input" type="radio" name="cat-bid-filter" id="cat-filter-1" value="1" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                All
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="cat-bid-filter" id="cat-filter-2" value="2">
            <label class="form-check-label" for="flexRadioDefault1">
                Accepted Bids
            </label>
        </div>

    </div>
{% endblock %}