{% block content %}
    <div class="cat-options-box">
        Sort By:

        <div class="form-check">
            <input class="form-check-input" type="radio" name="cat-filter" id="cat-filter-1" value="1" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                Most Recent
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="cat-filter" id="cat-filter-2" value="2">
            <label class="form-check-label" for="flexRadioDefault1">
                Name
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="cat-filter" id="cat-filter-3" value="3">
            <label class="form-check-label" for="flexRadioDefault1">
                Price
                HIGH to LOW
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="cat-filter" id="cat-filter-4" value="4">
            <label class="form-check-label" for="flexRadioDefault1">
                Price
                LOW to HIGH
            </label>
        </div>

    </div>
{% endblock %}