{% block content %}
<div class="cat-options-box d-grid gap-3">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <a href="/item/1" class="btn btn-primary btn-lg btn-clock">Create Posting</a>
    <a href="#" class="btn btn-primary btn-lg btn-clock">View All Postings</a>
    <a href="#" class="btn btn-primary btn-lg btn-clock">View My Bids</a>
    <a href="#" class="btn btn-primary btn-lg btn-clock">View My Postings</a>

    <div class="cat-options-filters">
        Filters:
        {% include 'catalogue/options_filters.html' %}
    </div>

</div>
{% endblock %}