{%  extends 'base.html' %}
{%  block content %}
    <div class="container">
        <div class="row item-container">
            <div class="col mt-4 image-carousel-container">
                {% include 'item/image_carousel.html' with images=images %}
            </div>
            <div class="col-8 mt-4">
                <div class="row">
                    <div class="col-5 div_overflow scrollbar">
                        <h3>{{ item.name }}</h3>
                        <p>Highest offer: ${{ max_bid }}</p>
                        <p>Condition: {{ item.condition }}</p>
                        <p>Category: {{ item.category.name }}</p>
                        <p>Posted on: {{ date }} </p>
                        <p>Seller: <a href="{% url 'view-profile' seller.user_id %}" class="name-link">{{ seller.user }}</a></p>
                    </div>
                    {% if not user.is_authenticated %}
                        <div class="col mt-8">
                        <p>You need to be logged in to place bids.</p>
                            <a class="btn btn-primary" href="{% url 'login' %}" role="button">
                                Log in.
                            </a>
                        </div>
                    {% else %}
                        {% include 'item/collapsable_buttons.html' with bids=bids %}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col">
                        <p>{{ item.long_description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            {% include 'item/related_items.html' %}
        </div>
    </div>
{% endblock %}