{%  extends 'base.html' %}
{%  block content %}
    <div class="container">
        <div class="row">
            <div class="col mt-4">
                <img src="{{ item.item_picture }}"  class="img-fluid rounded img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-8 mt-4">
                <div class="row">
                    <div class="col-5">
                        <h3>{{ item.name }}</h3>
                        <p>Highest offer: </p>
                        <p>Condition: {{ item.condition }}</p>
                        <p>Category: {{ item.category.name }}</p>
                    </div>
                    <div class="col mt-4">
                        <p>Your bid: ${{ user_bid }}</p>
                    </div>
                    <div class="col mt-4">
                        {% include 'item/make_bid.html' with item=item %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{{ item.long_description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <h4>Previous bids:</h4>
        {% for key, value in bids.items %}
            <p>${{ key }} from {{ value }}</p>
        {%  endfor %}
    </div>
{% endblock %}