{% block content %}
    <br>
    <h5>Similar posts</h5>
    <div class="cat-options-box" id="related-items" >
        <div class="cat-grid-related" >
            {% if not data %}
                No similar items found :/
            {% else %}
                {% for post in data %}
                    {% if not post.has_accepted_bid %}
                        {% include 'item/single_related_post.html' with post=post%}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
