{%  extends 'base.html' %}
{%  block content %}
    <div class="container">
        {% if user.is_authenticated and user.id == seller_id%}
            {% if not has_accepted_bid %}

                <div class="row">
                    <div class="col-5 mt-4">
                        <img src="{{ item.image1 }}"  class="img-fluid rounded img-thumbnail" alt="Responsive image">
                    </div>
                    <div class="col-5 mt-4 offer-title">
                        <div class="row offer-title">
                            <h3>{{ item.name }}</h3>
                            <h6>Offers (HIGH to LOW)</h6>
                        </div>
                        <div>
                            {% for bid in bids %}
                                {% include 'item/view_offers/single_offer.html' with bid=bid %}
                            {% endfor %}
                        </div>
                        <hr/>
                    </div>
                </div>
            {% else %}
                <div class="offer-title"> Oops, this is post already has an accepted bid! </div>
            {% endif %}
        {% else %}
            <div class="offer-title"> Oops, this is not your post! </div>
        {% endif %}
    </div>
{% endblock %}