{%  extends 'base.html' %}
{%  block content %}
    <div class="container">
        <div class="row">
            <div class="col-5 mt-4">
                <img src="{{ item.image1 }}"  class="img-fluid rounded img-thumbnail" alt="Responsive image">
            </div>
            <div class="col-5 mt-4 offer-title">
                <div class="row offer-title">
                    <h3>{{ item.name }}</h3>
                    <h6>Offers (HIGH to LOW)</h6>
                </div>
                <div>
                    {% for bid in bids %}
                        {% include 'item/view_offers/single_offer.html' with bid=bid %}
                    {% endfor %}
                </div>
                <hr/>
            </div>
        </div>
    </div>
{% endblock %}