{% block content %}
    <div class="row item-offer">
    <hr/>
        <div class="col-sm-6">
            <div class="offer-content">
                Offer Amount: {{ bid.price }} <br>
                User: <a href="{% url 'view-profile' bid.user_id %}" class="name-link">{{ bid.user }}</a> <br>
                User Rating: {{ bid.user_rating }}
            </div>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'accept-offer' bid.p_bid_id %}" class="btn btn-primary btn-lg offer-btn">Accept Offer</a>
        </div>
    </div>
{% endblock %}
